{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO FINAL</title>
    <!--Importando jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Importando boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <!--Importando dataTables-->
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <!--importando SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--importando Jquery Validate-->
    <script src="{% static 'librerias/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <!--importando font-awesome, para poder agregar los iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Importando FileInput.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css">
    <script  src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>

    <!-- Importando la librería de Chart.js para los dashboard -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body style="background-color: #fcfcfc;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/">PROFINAL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoAnios' %}">Año</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoAyudaMemoria' %}">A.Memoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoModalidades' %}">Modalidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoNotificaciones' %}">Notificacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoDirecciones' %}">Direccion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoUsuarios' %}">Usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoUnidades' %}">Unidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoTipos' %}">Tipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoPoa' %}">Poa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoObjetivosCantonal' %}">Objetivo Cantonal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoObjetivosDesarrollo' %}">Objetivo Desarrollo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoObjetivosNacional' %}">Objetivo Nacional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoObjetivosPdyot' %}">Objetivo Pdyot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoPrioridades' %}">Prioridad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoParroquias' %}">Parroquia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoProyectos' %}">Proyecto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoEventos' %}">Evento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoVocativos' %}">Vocativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listadoDelegados' %}">Delegado</a>
                    </li>
                    
                </ul>

            </div>
        </div>
    </nav>
    <!--Estas dos lineas nos permitiran añadir el contenido entre el menu y el pie de página-->
    {% block body %}
    {% endblock %}
    <footer class="footer mt-5 py-3 bg-primary text-white">
        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center mb-0"><b>Desarrollado por:</b> Edison Guala</p>
                </div>
                <div class="col-md-6">
                    <p class="text-center mb-0"><b>© 2025 Universidad Técnica de Cotopaxi</b></p>
                </div>
            </div>
        </div>
      </footer>

      {% if messages %}
        {% for mensaje in messages %}
            {% if mensaje.tags == 'success' %}
                <script>
                    Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "{{mensaje}}",
                    icon: "success"
                    });
                </script>
            {% endif %}
        {% endfor %}
      {% endif %}
      <style>
        /*letras de color rojo*/
        label.error{
            color:red;
        }
        /*Borde en rojo*/
        .form-control.error{
            border: 1px solid red;
        }
      </style>
</body>

</html>